.aws-btn {

    --slider-height-percentage: 52%;
    --slider-transition-duration: 320ms;
    --organic-arrow-thickness: 4px;
    --organic-arrow-border-radius: 0px;
    --organic-arrow-height: 40px;
    --organic-arrow-color: #d5d5d5;
    --control-button-width: 10%;
    --control-button-height: 25%;
    --control-button-background: transparent;
    --control-bullet-color: #f33d42;
    --control-bullet-active-color: #cf3438;
    --loader-bar-color: #851515;
    --loader-bar-height: 6px;

}